<h3> Visualizations </h3>

      <div>
        <label>Query</label>
        <input type="text" id="query_input" value="{{query}}" style="width: 600px;"/>
      </div>

{{#each charts}}
    <div>
        <h4>Graph {{@index}} </h4>
        <b>Utility:</b> {{this.utility}} <br>
        <b>Group by:</b>  {{this.group_by}} <br>
        <b>Aggregate by:</b> {{this.aggregate_by}}
        <div id="chart{{@index}}"></div>
    </div>
{{/each}}
